{% extends 'base.html' %} 

{% block contents %}    


<button type="button" class="btn btn-outline-danger"><a href = "{% url 'travel_delete' details.id %}"> 삭제하기</a></button>
<button type="button" class="btn btn-outline-success"><a href = "{% url 'travel_edit' details.id %}"> 수정하기</a></button>
<button type="button" class="btn btn-outline-dark"><a href = "{% url 'travel' %}"> 뒤로가기</a></button>

<div class="row">
    <div class="col-sm-6" style = "margin-bottom : 25px;"> 
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{details.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{details.author}}</h6>
          {{details.pub_date}}       
          <p class="card-text">{{details.body}}</p>
        </div>
      </div>
    </div>
    </div>
    <hr>

    <hr>
    {% for comment in travel.comments.all %}
        <div class="comment">
            <div class="date">{{ comment.created_date }}</div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}


{% endblock %}
