{% extends 'base.html' %}


<body>
    {% block contents %}
    <div>
        <h1>중앙대 맛집</h1>
        <p>미니자이언트</p>
        미니 자이언트 후기 블로그 참고해보세용!<h3><a href="https://m.blog.naver.com/PostView.nhn?blogId=ssssbssss&logNo=221534412560&proxyReferer=https:%2F%2Fwww.google.com%2F">후기 보러가기</a></h3>
        <!-- <img src="blog.jpg"> -->
    </div>

    <div>
        <h1>인천 송도 맛집</h1>
        <p>아띠오 아 나폴리 핏제리아</p>
        이름이 엄청 긴 맛집이다 진짜 맛집... 
        이것도 후기 보고 가세용!<h3><a href="https://m.blog.naver.com/PostView.nhn?blogId=haju486&logNo=220924786763&proxyReferer=https:%2F%2Fwww.google.com%2F">후기 보러가기</a></h3>
        <!-- <img src="blog.jpg"> -->
    </div>
    {% endblock %}
</body>
    